@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Zilla+Slab&display=swap');

:root {
	--color1: rgba(253, 84, 103, 1);
	--color2: rgba(108, 99, 255, 1);
	--color3: rgb(49, 51, 61);
	--color4: rgba(56, 211, 159, 1);
	--color5: rgba(255, 184, 184, 1);
}

body {
	background-color: var(--color3);
	font-family: 'Zilla Slab', sans-serif;
}

.header {
	width: 95%;
	margin: 0 0 0 auto;
}

.header__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 10vh;
	/* width: 60%; */
	flex-wrap: wrap;
}

.header__logo {
	font-family: 'Bree Serif', sans-serif;
	letter-spacing: 8px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 1 1 10rem;
	margin: 2rem;
	color: var(--color1);
	font-size: 5rem;
}

.header__list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex: 1 1 40rem;

	z-index: 10;
	list-style: none;
}

.header__list li a {
	color: var(--color2);
	font-size: 2rem;
	text-decoration: none;
}

.intro {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	min-height: 90vh;
	width: 90%;
	margin: auto;
}

.splash {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}

svg {
	width: 700px;
	height: 700px;
	/* position: absolute;
	top: 0;
	right: 0;
	height: 100%; */
	/* margin-right: 1rem; */
}

.info {
	margin-top: -10rem;
}

.info h3 {
	font-size: 8rem;
	/* padding-top: 2rem; */
	background: linear-gradient(to left, #38d39f, #38a4d3);
	-webkit--clip: text;
	background-clip: text;
	color: transparent;
}

.info h2 {
	font-size: 3rem;
	color: var(--color5);
}

.info p {
	font-size: 3rem;
	color: var(--color5);
}

.active {
	background: #eee;
	color: #fff;
}

/* svg {
	height: 100vh;
	width: 100vh;
} */

/* .svg {
	background-image: url('../assets/splash.svg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 110vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

svg {
	width: 600px;
	height: 600px;
	margin-right: 1rem;
}

#setting-1 {
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation: rotate-1 8s linear infinite;
}
#setting-2 {
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation: rotate-2 8s linear infinite;
}
#setting-3 {
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation: rotate-3 8s linear infinite;
}

#Vector_2 {
	animation: colors 10s linear infinite;
}

@keyframes colors {
	0% {
		fill: yellowgreen;
	}
	25% {
		fill: green;
	}

	50% {
		fill: yellow;
	}
	75% {
		fill: orangered;
	}
	100% {
		fill: yellowgreen;
	}
}

@keyframes rotate-1 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes rotate-2 {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(1turn);
	}
}
@keyframes rotate-3 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
} */

/* .navigation {
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #1b1b2f;
	margin-top: 0;
}

.navigation ul {
	list-style: none;
	display: flex;
}

.navigation ul li {
	margin-right: 4rem;
}

.navigation ul li a {
	color: #e43f5a;
	text-decoration: none;
}

.header-logo {
	font-family: 'Oswald', cursive;
	font-size: 2.6rem;
	font-weight: 600;
	color: #eee;
	text-shadow: 0 1.5px 2px #777;
	margin: 1rem 1.5rem;
	pointer-events: none;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

section {
	font-size: 5rem;
} */
