@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

:root {
	--color1: rgba(253, 84, 103, 1);
	--color2: rgba(108, 99, 255, 1);
	--color3: rgba(27, 26, 46, 1);
	--color4: rgba(56, 211, 159, 1);
	--color5: rgba(255, 184, 184, 1);
}

.splash {
	height: 500px;
	width: 500px;
}

/* .svg {
	background-image: url('../assets/splash.svg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 110vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

svg {
	width: 600px;
	height: 600px;
	margin-right: 1rem;
}

#setting-1 {
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation: rotate-1 8s linear infinite;
}
#setting-2 {
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation: rotate-2 8s linear infinite;
}
#setting-3 {
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation: rotate-3 8s linear infinite;
}

#Vector_2 {
	animation: colors 10s linear infinite;
}

@keyframes colors {
	0% {
		fill: yellowgreen;
	}
	25% {
		fill: green;
	}

	50% {
		fill: yellow;
	}
	75% {
		fill: orangered;
	}
	100% {
		fill: yellowgreen;
	}
}

@keyframes rotate-1 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes rotate-2 {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(1turn);
	}
}
@keyframes rotate-3 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
} */

/* .navigation {
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #1b1b2f;
	margin-top: 0;
}

.navigation ul {
	list-style: none;
	display: flex;
}

.navigation ul li {
	margin-right: 4rem;
}

.navigation ul li a {
	color: #e43f5a;
	text-decoration: none;
}

.header-logo {
	font-family: 'Oswald', cursive;
	font-size: 2.6rem;
	font-weight: 600;
	color: #eee;
	text-shadow: 0 1.5px 2px #777;
	margin: 1rem 1.5rem;
	pointer-events: none;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

section {
	font-size: 5rem;
} */
