.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	font-size: 1.8rem;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	background-color: #fff;

	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
}

.site-logo {
	color: peru;
	font-weight: 700;
}

.site-navigation a {
	font-size: 1.4rem;
	text-decoration: none;
	margin-right: 10px;
	text-transform: uppercase;
}
